{% extends "layout.html"%}
{%set title = "Add to Cart" %}

{%block content%} 
		<h1>Question 2</h1>
	<img src="{{ url_for("static",filename="japanese.jpg") }}" alt="" style="width:200px;height:200px;">
	<img src="{{ url_for("static",filename="mexican.jpg") }}" alt="" style="width:200px;height:200px;">
	<img src="{{ url_for("static",filename="italian.jpg") }}" alt="" style="width:250px;height:200px;">
	<img src="{{ url_for("static",filename="chinese.jpg") }}" alt="" style="width:200px;height:200px;">
	<img src="{{ url_for("static",filename="indian.jpg") }}" alt="" style="width:200px;height:200px;">
	<img src="{{ url_for("static",filename="greek.jpg") }}" alt="" style="width:200px;height:200px;">
	<form action="/next3" method="POST">
		<div class="form-group">
		<label for="comment">What is your favorite type food out of these options</label>
<div  class="btn-group">
	
		<button name="data" value="Japanese" class="btn btn-primary">Japanese</button>
		<button name="data" value="Mexican" class="btn btn-primary">Mexican</button>
		<button name="data" value="italian" class="btn btn-primary">Italian</button>
		<button name="data" value="chinese" class="btn btn-primary">Chinese</button>
		<button name="data" value="indian" class="btn btn-primary">Indian</button>
		<button name="data" value="greek" class="btn btn-primary">Greek</button>
		
        </form>
{% endblock %}
