{% extends "layout.html" %}
{% set title="Store" %}

{% block content %}
	<h1>IDK what this is</h1>
	<form action="/next1" method="POST">
		<div class="form-group">
		  <label for="comment">Your Name</label>
		  <input type="text" name="name" class="form-control">
		   <label for="comment">date and time</label>
		  <input type="text" name="date" class="form-control" value="{{VAR}}">
		</div>
		<button type="submit" class="btn btn-outline-success btn-lg"> next</button>
    </form>
{% endblock %}
