{% extends "layout.html" %}
{% set title="Store" %}

{% block content %}
	<h1>Store</h1>
	<form action="/addToCart?email=a" method="POST">
	<button type="submit" class="btn btn-outline-success btn-lg"> Buy email A</button>
	</form>
	<form action="/addToCart?email=b" method="POST">
	<button type="submit" class="btn btn-outline-success btn-lg"> Buy email B</button>
	</form>
	<form action="/addToCart?email=c" method="POST">
	<button type="submit" class="btn btn-outline-success btn-lg"> Buy email C</button>
	</form>
	<p> Emails in cart: {{emailsbeingsent }} </p>
	{% if emailsbeingsent >0 %}
	<form action="/checkout" method="POST">
	<button type="submit" class="btn btn-outline-success btn-lg"> Checkout</button>
	</form>
	{% endif %}
{% endblock %}
